<input type="text" placeholder="search" [(ngModel)]="details">
<button (click)="filter()">Search</button>

<table class="table table-dark">
    <thead>

    </thead>
    <tbody>
        <tr *ngFor="let account of accounts">
            <td>{{account.createdAt}}</td>
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.currency}}</td>

            <td>
                <img src="{{account.user_image}}" width="100px" height="100px"></td>
            <td>{{account.account_number}}</td>
            <td>{{account.id}}</td>
            <td>
                <button class="btn btn-primary" (click)="view(account.id)" >View</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="delete(account.id)">Delete</button>
            </td>

            

        </tr>
    </tbody>
</table>
<ul class="pagination">
    <li class="page-item" (click)="pagination(1)"><a class="page-link">1</a></li>
    <li class="page-item" (click)="pagination(2)"><a class="page-link" >2</a></li>
    <li class="page-item" (click)="pagination(3)"><a class="page-link" >3</a></li>
    
  </ul>