.main{
    display: flex;
    justify-content: center;
}
form{
    padding: 10px;
    width:350px;
    height: auto;
    background-color: rgb(230, 216, 216);
    text-align: center;
    margin-top:auto;
   
}
label{
    background-color: rgb(97, 124, 124);
    padding: 8px;
    margin: 4px;
    color: white;
    border-radius: 8px ;
}
.error p{
    color: red;
}