<h1>Create User Form</h1>
<div class="main">
    <form [formGroup]="userForm">
        <label>UserName</label>
        <input type="text" placeholder="user name" formControlName="name">
        <div class="error" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.invalid">
            <p *ngIf="userForm.get('name')?.errors?.['required']">This Field is required</p>
            <p *ngIf="userForm.get('name')?.errors?.['minlength']">min 3 char is required</p>
            <p *ngIf="userForm.get('name')?.errors?.['maxlength']">max 10 char is required</p>


        </div>

        <br>
        <br>
        <label>phone</label>
        <input type="text" placeholder="phone" formControlName="phone">
        <div class="error" *ngIf="userForm.get('phone')?.touched && userForm.get('phone')?.invalid">
            <p *ngIf="userForm.get('phone')?.errors?.['required']">This Field is required</p>
            <p *ngIf="userForm.get('phone')?.errors?.['min']">min 10 numbers is required</p>
            <p *ngIf="userForm.get('phone')?.errors?.['max']">max 10 numers is required</p>


        </div>
        <br>
        <br>
        <label>DOB</label>
        <input type="date" placeholder="dob" formControlName="dob">
        <br>
        <br>
        <h2>address</h2>
        <div formGroupName="address">
            <label>city</label>
            <input type="text" placeholder="city" formControlName="city">
            <br>
            <label>pin</label>
            <input type="number" placeholder="pin" formControlName="pin">
        </div>
        
        <button (click)="add()">add card</button>
        
        <div formArrayName="cards">
            <div *ngFor="let card of cardsFormArray?.controls; let i = index">
                <div formGroupName="{{i}}">
                    <input type="text" formControlName="name" placeholder="name">
                    <br>
                    <input type="text" formControlName="expiry" placeholder="expiry">
                    <br>
                    <input type="text" formControlName="cvv" placeholder="cvv">
                    <br>
                    <button class="btn btn-danger" (click)="delete(i)">delete</button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
 
        <br>
        <div>
            <label>type:</label>
            <input type="radio" name="type" formControlName="type" value="dayScholar">
            <label>DayScholar</label>
            <input type="radio" name="type" formControlName="type" value="residential">
            <label>Residential</label>
            <br>
            <div *ngIf="userForm.get('type')?.value =='dayScholar'">
                <label>Busfee</label>
                <input type="number" formControlName="busFee">
            </div>
            
            <div *ngIf="userForm.get('type')?.value =='residential'">
                <label>HostelFee</label>
                <input type="number"  formControlName="hostelFee">
            </div>
        </div>


        <button (click)="submit()" class="btn btn-primary">submit</button>
    </form>
</div>