<div class="parent">
    <div class="left">
        <h6 routerLink="interpolation">interpolation</h6>
        <h6 routerLink="event-binding">event binding</h6>
        <h6 routerLink="two-way-binding">two way binding</h6>
        <h6 routerLink="calculator">calculator</h6>
        <h6 routerLink="rectangle">rectangle</h6>
        <h6 routerLink="event-registration">eventrigistration</h6>
        <h6 routerLink="employregeistration">Employregeistration</h6>
        <h6 routerLink="cart">cart</h6>
        <h6 routerLink="pipes">pipes</h6>
        <h6 routerLink="cars">cars</h6>
        <h6 routerLink="ratings">ratings</h6>
        <h6 routerLink="clothe">Clothes</h6>
        <h6 routerLink="gpay">gpay</h6>
        <h6 routerLink="bank">Bank</h6>
        <h6 routerLink="hooks">Hooks</h6>
        <h6 routerLink="vechicle">Vechicles</h6>
        <h6 routerLink="post">Posts</h6>
        <h6 routerLink="flipkart">Flipkart</h6>
        <h6 routerLink="mail">Mails</h6>
        <h6 routerLink="footbal">Footbal</h6>
        <h6 routerLink="create-account">Create-account</h6>

        <button (click)="logout()">logout</button>


    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>